Models represent Tables in DB

<h1> CRUD - Create, Read, Update, Delete</h1>

<h2>Create</h2>
Creating new record in DB table - creating new object of model class
<h2>Update - saves</h2>
<ol>
  <li>object.field = value</li>
  <li>object.save()</li>
</ol>

save() saves new objects to DB <br>
create() creates and save() to DB <br>

Without save() DB is not changed! <br>

<h3>ForeignKey save</h3>
<ol>
  <li>object1 = Object1</li>
  <li>object2 = Object2</li>
  <li>object1.FK_field = object2</li>
  <li>object1.save()</li>
</ol>

<h3>ManyToManyField update</h3>
<ol>
  <li>object1 = Object1</li>
  <li>object12 = Object1</li>
  <li>object2.ManyToManyField_type.add(object1, object12)</li>
</ol>

<h2>Read</h2>
Read all objects (records) of the object table.
<ol>
  <li>object.obects.all()</li>
</ol>
